<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Brent Benzinger</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% load static %}
    <link rel='stylesheet' href='{% static 'home/style.css' %} '>

  </head>
  <body>
    <div class="container">

      <header>
        <h1>bbenz</h1>
        <h3>bash and linux snippets</h3>
      </header>

      <section>
        <p>setting up a new vps</p>
        <p>adding a new user</p>
<pre>
<code>
  adduser bbenz
  sudo usermod -aG sudo bbenz
  su bbenz
  cd ~
  ssh-keygen # add these keys to gitlab
  cd .ssh
  vim authorized_keys # add workstation key
</code>
</pre>
        <p>secure and obscure sshd</p>
<pre>
<code>
  sudo vim /etc/ssh/sshd_config
  PermitRootLogin no
  Port 22 # anything higher than 1024. <a href="https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers">check here</a>
  service ssh restart
</code>
</pre>

      </section>

    </div>
  </body>
