<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Brent Benzinger</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% load static %}
    <link rel='stylesheet' href='{% static 'home/style.css' %} '>

  </head>
  <body>

    <div class="container">
      <header>
        <h1>Brent Benzinger</h1>
        <h2>Programmer</h2>
        <!-- <img class='avatar' src='{% static 'home/SpacelayerRW.gif' %} '> -->
      </header>

      <section id="summary">
        <p>Summary</p>
        <p>Linux programmer, currently working Python/Django.<br>Significant experience in MySQL and vanilla front end web tech (HTML/CSS/JavaScript).</p>
      </section>

      <section id="highlights">
        <p>Highlights</p>
        <ul>
          <li><strong>語</strong><span> Japanese Language Proficiency Test: N3 (Intermediate) </span></li>
          <li><i class="fab fa-linux"></i><span> Guest Speaker at Ohio LinuxFest 2018 </span></li>
          <li><i class="fas fa-user-secret"></i><span> Team Leader for Cincinnati Hackathon 2018 </span></li>
        </ul>
      </section>

      <section id="Code">
        <p>Code</p>
        <p>Snippets in the gray land between "extremely useful" and "committed to memory"</p>
        <ul>
          <li><a href="{% url 'bash' %}">bash</a></li>
        </ul>
      </section>

      <section id="experience">
        <p>Professional Experience</p>
        <ul>
          <li><strong class="year">2019 </strong><span>Developer, Works International, Cincinnati OH</span></li>
          <li><strong class="year">2017 </strong><span>Developer, Blair Technology Group, Covington KY</span></li>
          <li><strong class="year">2014 </strong><span>Freelance Web Development</span></li>
          <li><strong class="year">2015 </strong><span>English Teacher, Moscow Russia</span></li>
          <li><strong class="year">2013 </strong><span>English Teacher, Osaka Japan</span></li>
          <li><strong class="year">2010 </strong><span>Music Teacher, Northern Kentucky University, Highland Heights KY</span></li>
        </ul>
      </section>

      <section id="technologies">
        <p>Technologies</p>
        <ul>

          <li>
            <i class="fas fa-terminal fa-fw"></i>
            <span> Linux, Bash, Vim </span>
          </li>
          <li>
            <i class="fab fa-python fa-fw"></i>
            <span> Python, Django, Flask </span>
          </li>
          <li>
            <i class="fab fa-html5 fa-fw"></i>
            <span> HTML </span>
          </li>
          <li>
            <i class="fab fa-css3 fa-fw"></i>
            <span> CSS, less, Bootstrap </span>
          </li>
          <li>
            <i class="fab fa-js-square fa-fw"></i>
            <span> JavaScript, Angular, jQuery </span>
          </li>
          <li>
            <i class="fas fa-wifi fa-fw"></i>
            <span> HTTP, Ajax, JSON, RESTful API </span>
          </li>
          <li>
            <i class="fas fa-code-branch fa-fw"></i>
            <span> Git, SVN </span>
          </li>
          <li>
            <i class="fas fa-database fa-fw"></i>
            <span> MySQL </span>
          </li>
          <li>
            <i class="fab fa-php fa-fw"></i>
            <span> PHP </span>
          </li>
        </ul>
      </section>

      <section id="education">
        <p>Education</p>
        <p><strong>Northern Kentucky University, Highland Heights, KY</strong>
          <br>Bachelor of Music, Classical Guitar Concentration</p>
      </section>

      <section id="contact">
        <p>Contact</p>
        <ul>

          <li>
            <i class="far fa-envelope fa-fw"></i>
            <a href="mailto:brent@bbenz.io">
              Email
            </a>
          </li>

          <li>
            <i class="fab fa-linkedin fa-fw"></i>
            <a href="https://www.linkedin.com/in/brent-benzinger/">
              Linkedin
            </a>
          </li>

          <li>
            <i class="fab fa-gitlab fa-fw"></i>
            <a href="https://gitlab.com/bbenz">
              GitLab
            </a>
          </li>

        </ul>
      </section>

    </div>
  </body>
</html>
