<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Japanese Grammar Drills</title>
</head>
<body>
  <ul>
    <li>
      <a href="{{ foobar }}">{{ link_text }} yes</a>
    </li>
  </ul>
</body>
</html>
