<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Brent Benzinger Japanese</title>

    {% load static %}
    <link rel='stylesheet' href='{% static 'japanese/style.css' %} '>
    <script src='{% static 'japanese/script.js' %}'></script>

  </head>
  <body>
    <div>
      <div> ます形 </div>
      <div id="prompt"></div>
      <div id="answer"></div>
      <div>
        <button id="answerBtn">答え</button>
        <button id="nextBtn">次</button>
      </div>
    </div>
  </body>
</html>
