@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F5F5F5F5;
  color: black;
}

ul {
  margin-top: 7px;
  padding-left: 0px;
}

li {
  list-style-type: none;
  font-family: monospace;
}

#summary {
  font-family: inherit;
}


p:first-child {
  text-decoration: underline;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
}

<<<<<<< HEAD
=======
.icon {
  max-width: 20px;
}

.avatar {
  padding: 5px;
  border: 1px solid #cecfd1;
  border-radius: 50%;
}

>>>>>>> d1d1a7613d61b170c2ad8e1932e70022b5706ab1
.fa-linkedin {
  color: #007bb6;
}

.fa-gitlab {
  color: #E2432A;
}

ul {
  display: table;
}
li {
  display: table-row;
}
li > * {
  display: table-cell;
  margin-left: 
}
li > span {
  padding-left: 5px;
}

