
:root {
  --color-bg-secondary: #e9e9e9;
}

#recipe-form {
  display: grid;
  grid-gap: 10px 10px;
}

#tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#tags > section {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;
}
