body {
  margin: 0;
}

#navbar-logo {
  width: 100%;
}
 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background: var(--theme-color);
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a:not(#logo-anchor) {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active:not(#logo-anchor) {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active):not(#logo-anchor) {
  background-color: #555;
  color: white;
}

#logo-anchor:hover {
  opacity: 0.6;
  transition: .5s;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .sidebar a:not(:first-child) {display: none;}
  .sidebar a.icon {
    float: right;
    display: block;
  }
}


/* The "responsive" class is added to the sidebar with JavaScript when the user clicks on the icon. This class makes the sidebar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .sidebar.responsive {position: relative;}
  .sidebar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidebar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
