:root {
  --row-height: 5px;
  --color-theme-1: #3a606e;
  --color-theme-2: #607b7d;
  --color-theme-3: #828e82;
  --color-theme-4: #aaae8e;
  --color-theme-5: #e0e0e0;
  --color-shag-carpet: #607b7d;
}

html, body {
  margin: 0px;
  background-color: var(--color-theme-5);
}

* {font-family: monospace}

#my-app {
  transition: margin-right .5s;
}

#my-app > .year {
  height: var(--row-height);
  transition: .5s;
}


.year {
  visibility: hidden;
  color: black;
}

.decade {
  visibility: visible;
  font-weight: bold;
  color: var(--color-theme-3);
}
.century {
  visibility: visible;
  font-weight: bold;
  color: var(--color-theme-1);
}

#save-and-close {
  width: 100%;
  margin: 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#new-entry-controls {
  position: relative;
  border: 1px solid var(--color-theme-1);
  border-radius: 15px;
  width: 200px;
  top: 10vh;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  z-index: 10;
}
    
#zoom-controls {
  position: fixed;
  right: 3vw;
  bottom: 1vh;
}

#zoom-controls > * {
  width: 100%;
  margin: 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#zoom-controls > div > input {
  margin: 2px;
  padding: 2px;
  z-index: 20;
}

#sidebar-controls {
  height: 100%;
  /* width: 0; /* starting width - bar is clsoed */
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden; /* disable horizontal scroll */
  transition: 0.5s;
}

#add-new-entry-btn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}
