<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Kitchen Memo{% endblock %}</title>
    {% load static %}
    <link rel='stylesheet' href='{% static 'kitchen_memo/style.css' %} '>
    <link rel='stylesheet' href='{% static 'kitchen_memo/sidebar.css' %} '>
    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <div class="sidebar">
      <a id="logo-anchor" href="{% url 'kitchen_memo:home' %}"><img href="{% url 'kitchen_memo:all_recipes' %}" id="navbar-logo" src="{% static 'kitchen_memo/cover.png' %} " alt=""></a>
      <a href="{% url 'kitchen_memo:all_recipes' %}">View all recipes</a>
      <a href="{% url 'kitchen_memo:add_recipe' %}">Add new recipe</a>
      <a href="{% url 'kitchen_memo:search_recipes' %}">Search for recipes</a>
      <a href="#">Settings</a>
      <a href="#">About</a>
    </div>
    <div class="content">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
