{% extends "kitchen_memo/base.html" %}

{% block title %} Edit Recipe {% endblock %}

{% block head_extra %}
{% load static %}
<link rel='stylesheet' href='{% static 'kitchen_memo/recipe_form.css' %} '>
{% endblock head_extra %}

{% block content %}

    <header>
      <h1> Edit Recipe {{ recipe }}</h1>
    </header>
    <main>
  <form method="POST" id="recipe-form">
      {% include "kitchen_memo/recipe_form.html" %}
  </form>
    </main>

{% endblock %}
