{% extends "kitchen_memo/base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}

    <header>
      <h1> Home Page </h1>
    </header>
    <main>
      {% for recipe in recipes %}
      <div>
        <a href="{% url 'kitchen_memo:recipe' recipe.id %}">{{ recipe }}</a>
        </a>
      </div>
      <div>
      </div>
      {% endfor %}
    </main>

{% endblock %}
