{% extends "kitchen_memo/base.html" %}

{% block title %} All Recipes {% endblock %}

{% block content %}
    <header>
      <h1>{{ recipe }}</h1>
      {% if recipe.link %}
      <div><a href="{{ link }}">Source</a></div>
      {% endif %}
      <a href="{% url 'kitchen_memo:edit_recipe' recipe.id %}">Edit</a>
    </header>
    <main>
      <div style="white-space: pre;">{{ recipe.instructions }}</div>
      <br>
      <br>
      
      {% for tag in tags %}
      <div style="border: 1px solid gray">
        {{ tag.tag_text }}
      </div>
      {% endfor %}
    </main>
{% endblock %}
