    {% csrf_token %}
    <input type="text" id="recipe-id" name="id" value="{{ recipe.id }}" readonly hidden>
    <div style="display:inline-block">
      <label for="recipe-name">Name:</label>{{ form.name.errors }}
    </div>
    <input type="text" id="recipe-name" name="name" value="{{ recipe.name }}">
    <label for="recipe-link">Source:</label>
    {{ form.link.errors }}
    <input type="text" id="recipe-link" name="link" value="{{ recipe.link }}">
    <label for="recipe-text">Recipe:</label>
    {{ form.instructions.errors }}
    <textarea id="recipe-text" rows=10 cols=33 name="instructions">{{ recipe.instructions }}</textarea>
    <div id="tags">
      <section>
        {% for tag in default_tags.meals %}
          <input type="checkbox" id="{{ tag.html_name }}" name="tags[]" value="{{ tag.html_name }}" {{ tag.checked }}>
          <label for="breakfast">{{ tag.display_name }}</label><br>
        {% endfor %}
      </section>
      <section>
        <input type="checkbox" id="beef" name="tags[]" value="beef">
        <label for="beef">Beef</label><br>
        <input type="checkbox" id="salmon" name="tags[]" value="salmon">
        <label for="salmon">Salmon</label><br>
        <input type="checkbox" id="pork" name="tags[]" value="pork">
        <label for="pork">Pork</label><br>
        <input type="checkbox" id="shrimp" name="tags[]" value="shrimp">
        <label for="shrimp">Shrimp</label><br>
        <input type="checkbox" id="chicken" name="tags[]" value="chicken">
        <label for="chicken">Chicken</label>
      </section>
      <section>
        <input type="checkbox" id="stove-top" name="tags[]" value="stove-top">
        <label for="stove-top">Stove top</label><br>
        <input type="checkbox" id="pressure-cook" name="tags[]" value="pressure-cook">
        <label for="pressure-cook">Pressure cook</label><br>
        <input type="checkbox" id="slow-cook" name="tags[]" value="slow-cook">
        <label for="slow-cook">Slow cook</label><br>
        <input type="checkbox" id="oven-bake" name="tags[]" value="oven-bake">
        <label for="oven-bake">Oven bake</label><br>
      </section>
      <section>
        <input type="checkbox" id="tomato" name="tags[]" value="tomato">
        <label for="tomato">Tomato</label><br>
        <input type="checkbox" id="curry" name="tags[]" value="curry">
        <label for="spinach">Spinach</label><br>
        <input type="checkbox" id="egg" name="tags[]" value="egg">
        <label for="egg">Egg</label><br>
      </section>
      <section>
        <input type="checkbox" id="lime" name="tags[]" value="lime">
        <label for="lime">Lime</label><br>
        <input type="checkbox" id="lemon" name="tags[]" value="lemon">
        <label for="lemon">Lemon</label><br>
      </section>
      <section>
        <input type="checkbox" id="mayonnaise" name="tags[]" value="mayonnaise">
        <label for="mayonnaise">Mayonnaise</label><br>
        <input type="checkbox" id="sour-cream" name="tags[]" value="sour-cream">
        <label for="sour-cream">Sour Cream</label><br>
      </section>
      <section>
        <input type="checkbox" id="curry" name="tags[]" value="curry">
        <label for="curry">Curry</label><br>
      </section>
      <section>
        <label for="new-tag">New tag:</label><br>
        <input type="text" id="new-tag" name="new-tag" value="">
      </section>
    </div>
    <input type="submit" value="Submit">
  </form>
