body {
  background-color: dodgerblue;
  color: white;
}

div {
  margin: 5px;
  padding: 5px;
}

button {
  border: none;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
}
