<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>timeline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel='stylesheet' href='{% static 'timeline/style.css' %} '>
    <script src="{% static 'timeline/script.js' %}"></script>
  </head>
  <body>

    <div id="my-app">

      <!-- test slider positioning
      <input type="range" style="position:absolute;width:100%;top: calc( 1262 * var(--row-height) - 2ch )" id="elem-slider" min="1" max="100">
      -->
      {% for entry in timeline.entries %}
      <div id="{{ entry.id }}_label">{{ entry.label }}</div>
      <div id="{{ entry.id }}"></div>
      <style>

      #{{ entry.id }}_label {
        position: absolute;
        top: calc( {{ entry.margin_top }} * var(--row-height) - 2ch ); /* start year */
        left: {{ entry.left_margin }};
        transition: .5s;
      }

      #{{ entry.id }} {
        position: absolute;
        top: calc( {{ entry.margin_top }} * var(--row-height)); /* start year */
        left: {{ entry.left_margin }};
        width: {{ entry.width }};
        height: calc({{ entry.height }} * var(--row-height)); /* end year */
        background-color: {{ entry.color }};
        transition: .5s;
      }

      </style>
      {% endfor %}



      {% for entry in bundle %}
      <div id="{{ entry.year }}" class="year" style="max-width:100%">
        <span class="{{ entry.classes }}">{{ entry.formatted_year }}</span>
      </div>
      {% endfor %}
    </div>

    <input type="button" id="add-new-entry-btn" value="new">

    <div id="sidebar-controls">

      <form action="" method="POST">
        {% csrf_token %}
        <div id="new-entry-controls">
          <div>
            event<input type="radio" name="entry_type" value="event" checked=true>
            timespan<input type="radio" name="entry_type" value="timespan">
          </div>
          <div>
            start year<input name="start_year" type="number" id="new-entry-start-year">
          </div>
          <div>
            end year<input name="end_year" type="number" id="new-entry-end-year">
          </div>
          <div>
          label <input name="label" type="text" id="new-entry-label">
          </div>
          <div>
            id <input name="id" type="text" id="id_id">
          </div>
          <div>
            position <input name="position" type="range" id="new-entry-left-margin" min="1" max="100">
          </div>
          <div>
            color <input name="color" type="color">
          </div>
          <div id="save-and-close">
            <input type="submit" value="save">
            <input type="button" value="close">
          </div>
        </div>
      </form>
         
      <div id="zoom-controls">
        <div>
          <input type="text" id="zoom-text" placeholder="year or id">
          <input type="button" id="zoom-text-btn" value="go">
        </div>
        <br>
        <input type="range" id="zoom-slider" min="1" max="100">
        <br>
        <div>
          <input type="button" id="zoom-minus" value="-">
          <input type="button" id="zoom-plus" value="+">
        </div>
      </div>



    </div>
    <script>
      // window.location.hash = "#{{ timeline.load_page_year }}";
    document.getElementById('2020').scrollIntoView({block: 'start', behavior: 'smooth'});
    </script>

  </body>
</html>
