@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F5F5F5F5;
  color: black;
}

ul {
  margin-top: 7px;
  padding-left: 0px;
}

li {
  list-style-type: none;
  font-family: monospace;
}

#summary {
  font-family: inherit;
}


p:first-child {
  text-decoration: underline;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
}

.fa-linkedin {
  color: #007bb6;
}

.fa-gitlab {
  color: #E2432A;
}

ul {
  display: table;
}
li {
  display: table-row;
}
li > * {
  display: table-cell;
  margin-left: 
}
li > span {
  padding-left: 5px;
}

